.posts-container {
  display: block;
  margin: auto;
  width: 80%;
  align-items: center;
}

.fab {
  position: fixed !important;
  bottom: 5%;
  right: 10%;
  z-index: 99 !important;

  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
}
.fab .icon {
  position: absolute;
  top: -17px;
}

.input-error-msg {
  margin: auto;
  width: 80%;
}

.ep-rating {
  display: flex !important;
  justify-content: space-between !important;
}
.rating-btn {
  display: flex !important;
  align-items: flex-end !important;
}
.ep-btn {
  display: flex !important;
}

.single-post-container {
  display: block;
  margin: auto;
  width: 80%;
  align-items: center;
}
