.single-post-container {
  display: block;
  margin: auto;
  width: 80%;
  align-items: center;
}

.single-post {
  display: flex;
  flex-wrap: wrap;
}

.post-content {
  padding-top: 20px;
  display: flex;
}

.cover-art {
  width: 200px;
  box-shadow: 0 30px 60px rgb(0 0 0 / 12%);
  border-radius: 5px;
  margin-top: 16px;
}
/* add media queries for cover art on phone */

.post-header {
  display: flex;
}
.post-header .text {
  margin-left: 20px;
  justify-content: flex-end;
}

.review-rating {
  background-color: red;
}
.review-box {
  background-color: aqua;

  width: 469px;
  height: 347px;
}
.review-buttons {
  display: flex;
}
